body{
    background-color: black;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    }
     
    h1 {
    color: #e07442;
    margin-left: center;
    } 
h2 {
  color: white
}
h3{
color: white
}
p {
color: white
}